@import "mixin";
@include userlist(1080px);

*{
  padding:0;
  margin:0;
  list-style: none;
  text-decoration: none;
}

body{
  overflow-x: hidden;
  font-size: 16px;
  background: #5C5C66;
}

@font-face {
  font-family: "iconfont";
  src:url(../font/iconfont.woff);
}
.iconfont{
  font-family: "iconfont";
}

.icon-menu:before { content: "\e619"; }
.icon-duihao:before { content: "\e60f"; }
.icon-z-list:before { content: "\e687"; }
.icon-chengchangtequan:before { content: "\e618"; }
.icon-down:after {font-family: "iconfont"; content: "\e61f"; }
.icon-add:before {margin:0 0.4rem; content: "\e644"; }
.icon-xinxi:before {font-size: 0.63rem; content: "\e668"; }
.icon-iconhuatong:before { content: "\e63c"; }
.icon-iconfontcunchu:before {display: block; font-size: 0.52rem;  margin-bottom: 0.32rem;content: "\e620"; }
.icon-yonghu:before {display: block; font-size: 0.52rem;  margin-bottom: 0.32rem;content: "\e77b"; }
.icon-shezhi:before {display: block; font-size: 0.52rem;  margin-bottom: 0.32rem;content: "\e649"; }
.icon-iconfonttuichu:before {display: block; font-size: 0.8rem;  margin: 0.32rem 0; content: "\e61b"; }
.icon-tupian:before { content: "\e64b"; }
.icon-weizhi:before { content: "\e638"; }
.icon-haoyou:before { content: "\e6a8"; }
.icon-guanli:before { content: "\e60b"; }
.icon-shijian:before {font-size: 0.8rem; content: "\ec60"; }
.icon-iconfonticonfontclose:before { content: "\e606"; }

.clock{
  height:0.78rem;
  background:#000000;
}
.con-top{
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height:4.63rem;
}
.top{
  height:0.63rem;
  padding: 0.35rem 0;
  background: #fff;
  &>div{
    float: left;
  }
  .top-left{
    position: relative;
    div{
      float: left;
    }
    .menu{
      width:1.43rem;
      height:100%;
      text-align: center;
      border-right:1px solid #DEDEE8;
      box-sizing: border-box;
    }
    .icon-menu{
      font-size: 0.5rem;
      color:#DEDEE8;
    }
    .lanmu{
      width:2.40rem;
      height:0.98rem;
      overflow: hidden;
      .person{
        width:2.40rem;
        text-align: center;
        line-height: 0.63rem;
        padding-bottom: 0.35rem;
        letter-spacing: 0.03rem;
        font-family: "微软雅黑";
      }
      .work{
        width:2.40rem;
        padding:0.35rem 0 0.35rem 0.5rem;
        border:1px solid rgba(92, 92, 102, 0.56);
        border-top:0;
        box-sizing: border-box;
        background: #fdfdfd;
        &.icon-down::after{
          color:#fff;
        }
      }
      &.show{
        overflow: visible;
      }
    }
  }
  .top-right{
    float: right;
    div{
      float: left;
    }
    .tag{
      width:3.11rem;
      height:0.63rem;
      border-radius: 0.02rem;
      border:1px solid #DEDEE8;
      box-sizing: border-box;
      &>div{
        float: left;
        height:100%;
        width:50%;
        text-align: center;
        line-height: 0.63rem;
        font-size: 0.4rem;
        color:#DEDEE8;
        &.active{
          color:#000;
          background:#DEDEE8;
        }
      }
    }
    .message{
      height:100%;
      padding:0 0.50rem;
      color:#DEDEE8;
   }
  }
}
.addMess{
  width:100%;
  height:2.7rem;
  background:#9eb75f url(../img/addmess.png) center center no-repeat;
  background-size: contain;
  .addbtn{
    float: left;
    width:9.9rem;
    height:1.23rem;
    margin:0.735rem 0.45rem;
    border-radius: 0.05rem;
    color:#ccc;
    line-height: 1.23rem;
    background: rgba(255,255,255,0.9);
  }
}
.showNum{
  width:100%;
  height:0.6rem;
  line-height: 0.6rem;
  font-size: 0.3rem;
  color:#aaa;
  background: #5C5C66;
  padding-left:0.4rem;
}
.lists{
    position: absolute;
    margin: 4.63rem 0 0.5rem;
  li{
    width:100%;
    height:3.35rem;
    background: #fff;
    border-bottom: 1px solid #5C5C66;
    box-sizing: border-box;
    .list-info{
      float: left;
      width:100%;
      .contentInfo{
         height:1.5rem;
         width:9.9rem;
         position: relative;
         margin:0.925rem 0.45rem;
         div{
          float: left;
         }
         .list-logo{
           width:1.5rem;
           height:1.5rem;
           border-radius: 50%;
           background: rgba(124, 135, 243, 0.95);
           margin-right: 0.65rem;
           text-align: center;
           color:#fff;
           line-height: 1.5rem;
           font-size: 0.8rem;
           &.end{
             background: rgba(238, 86, 101, 0.96);
           }
         }
        p{
          line-height: 0.75rem;
          &:nth-child(1){
          font-size: 0.51rem;
          }
          &:nth-child(2){
            font-size: 0.4rem;
            color: #27272d;
        }
        }
        .list-del{
          position: absolute;
          bottom:0;
          top:0;
          margin:auto;
          right:0;
          width:0.8rem;
          height:0.8rem;
          line-height: 0.75rem;
          text-align: center;
          border: 1px solid #5C5C66;
          box-sizing: border-box;
          border-radius: 50%;
        }
      }
    }
    &.close{
      transition: all .3s ease;
     animation: del .3s ease both;
    }
    @keyframes del {
      0%{
        transform: translate3d(0,0,0);
      }
      50%{
        opacity: 0.7;
        transform: translate3d(50%,0,0);
      }
      100%{
        opacity: 0;
        transform: translate3d(100%,0,0);
      }
    }
  }
}
.bottom{
  width:100%;
  height:5.2rem;
  position: fixed;
  bottom:0;
  left:0;
  background: url("../img/bottom.png") center center no-repeat;
  background-size: cover;
  .bottom-word{
    font-size:0.4rem;
    position: absolute;
    bottom:0;
    width:100%;
    text-align: center;
    margin-bottom: 0.5rem;
  }
}
.huatong{
  position: fixed;
  width:1.5rem;
  height:1.5rem;
  bottom:0.72rem;
  right:0.66rem;
  border-radius: 50%;
  background: #EE5665;
  line-height: 1.5rem;
  text-align: center;
  font-size: 0.8rem;
  color:#fff;
}
.mask{
  display: none;
  &.open{
    display: block;
  }
  width:100%;
  position: fixed;
  top:0;
  left:0;
  background:rgba(0,0,0,0.6);
}
.cebar{
  transform: translate3d(-100%,0,0);
  transition: all ease 0.5s;
  &.open{
    transform: translate3d(0,0,0);
  }
  width:2.6rem;
  position: fixed;
  left:0;
  top:0;
  background: #5C5C66;
  .logo{
    width:1.7rem;
    height:1.7rem;
    margin:0.45rem 0.45rem 1.2rem;
    border-radius: 50%;
    background: url(../img/logo.jpg) center no-repeat;
    background-size: contain;
  }
  div.iconfont{
    margin-bottom:1.4rem;
    color:#fff;
    text-align: center;
  }
  .exit{
    position: absolute;
    bottom:0;
    left:0;
    width:100%;
    height:2.55rem;
    background: #EE5665;
    &.exit{
       margin:0;
    }
  }
}
.inputText{
  width:100%;
  height:6rem;
  transform: translate3d(0,-500%,0);
  transition: all ease 0.5s;
  opacity: 0;
  background:url("../img/info.png") center center no-repeat;
  position: fixed;
  top:0;
  left:0;
  bottom:0;
  right:0;
  margin:auto;
  background-size: contain;
  .setLan{
    width:2.4rem;
    height:1rem;
    line-height: 1rem;
    margin:1.4rem auto 0.4rem;
    overflow: hidden;
    border:2px solid rgba(116, 116, 127, 0.13);
     div{
       width:100%;
       height:100%;
       text-align: center;
       background: #fff;
       box-shadow:0 5px 10px #5C5C66;
     }
    &.show{
      overflow: visible;
    }
  }
  .infoText{
    width:73%;
    border:2px groove rgba(235, 235, 235, 0.68);
    background: transparent;
    border: 0;
    outline: none;
    margin-left: 1.46rem;
    display: block;
    height:2.2rem;
    resize: none;
    font-size: 0.5rem;
    color:#2b2b2b;
    text-decoration: underline;
  }
  .list-time{
    width:73%;
    height:0.91rem;
    line-height: 0.91rem;
    margin:0.06rem auto 0;
    background-image: linear-gradient(#ffffff, #fdfdfd);
    div{
      font-size: 0.4rem;
      height:100%;
      float:left;
      width:percentage(1/3);
      text-align: center;
        input{
          font-size: 0.4rem;
          text-align: center;
          outline: none;
          width:26%;
          color:#2b2b2b;
          height:75%;
          border:0;
          margin-right: 1%;
          background-image: linear-gradient(#ffffff, #fdfdfd);
          box-sizing: border-box;

      }
    }
  }
  &.open{
    transform: translate3d(0,0,0);
    opacity: 1;
  }
}
.arrive{
  width:100%;
  position: absolute;
  top:0;
  left:0;
  height:100%;
  color:#EE5665;
  background: #fff;
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
  line-height: 100rem;
  transform: translate3d(0,0,0);
  transition: all ease 0.5s;
    background: url(../img/yanger.jpg) center center;
    background-size: cover;
  &.close{
    display: none;
    transform: translate3d(0,-100%,0);
  }
}
.end-qu-btn{
  width:100%;
  position: fixed;
  bottom:0;
  left:0;
  height:1rem;
  background:#fff;

  div{
    width:50%;
    float: left;
    text-align: center;
    box-sizing: border-box;
    line-height: 1rem;
    border-bottom: 1px solid #5C5C66;
  }
  .end{
    background: #EE5665;
    color:#fff;
  }
  &.close{
    display: none;
  }
}
.del-tit{
  width:100%;
  position: fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  margin:auto;
  transform: translate3d(0,-100%,0);
  transition: all ease 0.8s;
  background: url(../img/delitem.png) center center no-repeat;
  background-size: contain;
  &.show{
    transform: translate3d(0,0,0);
  }
  .del-tit-text{
    width:80%;
    height:3.62rem;
    padding-left: 0.35rem;
    font-size: 0.5rem;
    line-height: 5rem;
  }
  .del-squr{
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
    width:8.42rem;
    height:4.56rem;
    .del-btn{
      position: absolute;
      bottom:0;
      left:0;
      width:100%;
      height:0.93rem;
      div{
        width:50%;
        text-align: center;
        line-height: 0.93rem;
        float: left;
        &.queding{
          color:#fff;
        }
      }
    }
  }
}
@font-face {
  font-family:"bottom-btn";
  src:url(../font/bottom-btn.woff);
}
.bottom-btn{
  font-family:"bottom-btn";
  font-size: 0.5rem;
  color:#5C5C66;
  &.icon-quxiao:before { margin-right: 2%;content: "\e6c7"; }
  &.icon-queding:before { margin-right: 2%;content: "\e6c8"; }

}
.devo{
  width:100%;
  height:100%;
  background: #5C5C66;
}